<h1>Analisis de comentario</h1>


<form method="post">
    <label>Introduce Comentario para la IA:</label>
    <textarea name="comentario" class="form-control"></textarea>
    <button class="btn btn-success">Valorar</button>
</form>

<h1>
    @ViewData["RESPUESTA"]
</h1>
